.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .location-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .location {
    margin-bottom: 10px;
  }
  