header {
    align-items: center;
    background: #517e94;
    display: flex;
    padding: 5px 5% 20px;
    color: white;
}

header article,
header nav {
    width: 50%;
}

header h1 {
    height: auto;
    margin: 0;
    font-size: 36px;
}

header h1 span {
    font-weight: 300;
}

header h1 a {
    color: var(--light);
    text-decoration: none;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    font-family: var(--primary-font);
    font-size: 1.2 em;
    padding: 0 25px;
}

header ul li a {
    color: var(--light);
    border-bottom: 2px solid var(--light);
    font-weight: 500;
    padding-bottom: 5px;
    text-decoration: none;
}

header ul li a:hover {
    color: var(--dark);
    border-bottom: 2px solid var(--dark);
}

header img {
    padding: 2%;
    margin: 1.5%
}